# Capstone-3 Data Wrangling : Improving NYC’s Services To 311 Requests

NYC receives millions of 311 service requests every year from noise complaints to public safety. However, not all of the requests receive equal attention and treatment. There are inefficiencies and response time disparities across boroughs, complaint types and agencies that need to be identified and addressed. 
This project aims to identify insufficiencies in NYC’s  311 service response by analyzing historical 311 request data. The main goal is to uncover trends in request volumes and resolution times, highlight undeserved areas and slow-performing agencies and provide actionable insights to ensure resident satisfaction.
 While the original goal was to evaluate 311 service response in 2023, this project will now use the 2016 dataset to uncover complaint patterns, service response times, and agency performance. Although historical, the findings can still shed light on systemic issues in city responsiveness and inform future improvements.

## Load the libraries and and the data

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [4]:
service_requests = pd.read_csv(r"C:\Users\aasha\Downloads\NYC_311_Data_20250625.csv")

C:\Users\aasha\AppData\Local\Temp\ipykernel_18172\3827526383.py:1: DtypeWarning: Columns (8,17,29) have mixed types. Specify dtype option on import or set low_memory=False.
  service_requests = pd.read_csv(r"C:\Users\aasha\Downloads\NYC_311_Data_20250625.csv")

## Check the Data

In [8]:
service_requests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185358 entries, 0 to 185357
Data columns (total 39 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   Unique Key                      185358 non-null  int64
 1   Created Date                    185358 non-null  object
 2   Closed Date                     181323 non-null  object
 3   Agency                          185358 non-null  object
 4   Agency Name                     185358 non-null  object
 5   Complaint Type                  185358 non-null  object
 6   Descriptor                      178875 non-null  object
 7   Location Type                   144334 non-null  object
 8   Incident Zip                    175240 non-null  object
 9   Incident Address                147579 non-null  object
 10  Street Name                     147565 non-null  object
 11  Cross Street 1                  113571 non-null  object
 12  Cross Street 2                  112474 non-null  object
 13  Intersection Street 1           27762 non-null   object
 14  Intersection Street 2           27638 non-null   object
 15  Address Type                    177161 non-null  object
 16  City                            175252 non-null  object
 17  Landmark                        67 non-null      object
 18  Facility Type                   69600 non-null   object
 19  Status                          185358 non-null  object
 20  Due Date                        100227 non-null  object
 21  Resolution Description          184747 non-null  object
 22  Resolution Action Updated Date  181077 non-null  object
 23  Community Board                 185352 non-null  object
 24  Borough                         185352 non-null  object
 25  X Coordinate (State Plane)      167826 non-null  float64
 26  Y Coordinate (State Plane)      167826 non-null  float64
 27  Park Facility Name              185358 non-null  object
 28  Park Borough                    185352 non-null  object
 29  Vehicle Type                    3 non-null       object
 30  Taxi Company Borough            176 non-null     object
 31  Taxi Pick Up Location           1073 non-null    object
 32  Bridge Highway Name             252 non-null     object
 33  Bridge Highway Direction        252 non-null     object
 34  Road Ramp                       245 non-null     object
 35  Bridge Highway Segment          281 non-null     object
 36  Latitude                        167826 non-null  float64
 37  Longitude                       167826 non-null  float64
 38  Location                        167826 non-null  object
dtypes: float64(4), int64(1), object(34)
memory usage: 55.2+ MB

In [10]:
service_requests.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,34439966,09/30/2016 12:00:00 AM,10/03/2016 12:00:01 AM,DOHMH,Department of Health and Mental Hygiene,Food Poisoning,1 or 2,Restaurant/Bar/Deli/Bakery,10029,1872 THIRD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.789715,-73.946040,POINT (-73.94603977564717 40.789715080525056)
1,34449588,09/30/2016 12:00:00 AM,10/06/2016 12:00:00 AM,HPD,Department of Housing Preservation and Develop...,HEAT/HOT WATER,ENTIRE BUILDING,RESIDENTIAL BUILDING,11203,374 EAST 49 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.652807,-73.931519,POINT (-73.9315186685526 40.65280703038938)
2,34442153,09/30/2016 12:00:00 AM,09/30/2016 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Mouse Sighting,3+ Family Apt. Building,10028,156 EAST 85 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.778587,-73.955567,POINT (-73.95556662223163 40.77858650563962)
3,34440243,09/30/2016 12:00:00 AM,10/02/2016 12:00:00 AM,DOHMH,Department of Health and Mental Hygiene,Rodent,Rat Sighting,Other (Explain Below),10453,WEST 177 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.850155,-73.911768,POINT (-73.9117677653479 40.8501546174946)
4,34442712,09/30/2016 12:00:00 AM,10/19/2016 06:41:11 PM,DOHMH,Department of Health and Mental Hygiene,Rodent,Signs of Rodents,3+ Family Apt. Building,10454,260 BROOK AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.808012,-73.918943,POINT (-73.91894348666274 40.80801203850809)

In [12]:
service_requests.shape

(185358, 39)

In [14]:
service_requests.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Park Facility Name', 'Park Borough',
       'Vehicle Type', 'Taxi Company Borough', 'Taxi Pick Up Location',
       'Bridge Highway Name', 'Bridge Highway Direction', 'Road Ramp',
       'Bridge Highway Segment', 'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [16]:
service_requests.describe()

,Unique Key,X Coordinate (State Plane),Y Coordinate (State Plane),Latitude,Longitude
count,1.853580e+05,1.678260e+05,167826.000000,167826.000000,167826.000000
mean,3.446752e+07,1.005055e+06,204569.731448,40.728120,-73.924901
std,1.021722e+06,2.234055e+04,30433.357719,0.083532,0.080570
min,3.404382e+07,9.138850e+05,121175.000000,40.499018,-74.253019
25%,3.427447e+07,9.913730e+05,183390.000000,40.669973,-73.974308
50%,3.433061e+07,1.003618e+06,201721.000000,40.720312,-73.930097
75%,3.438614e+07,1.018209e+06,229098.000000,40.795489,-73.877299
max,6.461716e+07,1.067220e+06,271861.000000,40.912828,-73.700597

## Keep Only Relevant Columns

In [19]:
cols_to_keep = [
    'Created Date', 'Closed Date', 'Agency', 'Complaint Type', 'Descriptor',
    'Incident Zip', 'Borough', 'Latitude', 'Longitude', 'Status'
]

In [21]:
service_requests = service_requests[cols_to_keep]

In [23]:
service_requests.head()

,Created Date,Closed Date,Agency,Complaint Type,Descriptor,Incident Zip,Borough,Latitude,Longitude,Status
0,09/30/2016 12:00:00 AM,10/03/2016 12:00:01 AM,DOHMH,Food Poisoning,1 or 2,10029,MANHATTAN,40.789715,-73.946040,Closed
1,09/30/2016 12:00:00 AM,10/06/2016 12:00:00 AM,HPD,HEAT/HOT WATER,ENTIRE BUILDING,11203,BROOKLYN,40.652807,-73.931519,Closed
2,09/30/2016 12:00:00 AM,09/30/2016 12:00:00 AM,DOHMH,Rodent,Mouse Sighting,10028,MANHATTAN,40.778587,-73.955567,Closed
3,09/30/2016 12:00:00 AM,10/02/2016 12:00:00 AM,DOHMH,Rodent,Rat Sighting,10453,BRONX,40.850155,-73.911768,Closed
4,09/30/2016 12:00:00 AM,10/19/2016 06:41:11 PM,DOHMH,Rodent,Signs of Rodents,10454,BRONX,40.808012,-73.918943,Closed

In [32]:
service_requests.dtypes

Created Date      datetime64[ns]
Closed Date       datetime64[ns]
Agency                    object
Complaint Type            object
Descriptor                object
Incident Zip              object
Borough                   object
Latitude                 float64
Longitude                float64
Status                    object
dtype: object

## Convert Dates to datetime Format

In [35]:
service_requests['Created Date'] = pd.to_datetime(service_requests['Created Date'], errors='coerce')
service_requests['Closed Date'] = pd.to_datetime(service_requests['Closed Date'], errors='coerce')

In [37]:
service_requests.head()

,Created Date,Closed Date,Agency,Complaint Type,Descriptor,Incident Zip,Borough,Latitude,Longitude,Status
0,2016-09-30,2016-10-03 00:00:01,DOHMH,Food Poisoning,1 or 2,10029,MANHATTAN,40.789715,-73.946040,Closed
1,2016-09-30,2016-10-06 00:00:00,HPD,HEAT/HOT WATER,ENTIRE BUILDING,11203,BROOKLYN,40.652807,-73.931519,Closed
2,2016-09-30,2016-09-30 00:00:00,DOHMH,Rodent,Mouse Sighting,10028,MANHATTAN,40.778587,-73.955567,Closed
3,2016-09-30,2016-10-02 00:00:00,DOHMH,Rodent,Rat Sighting,10453,BRONX,40.850155,-73.911768,Closed
4,2016-09-30,2016-10-19 18:41:11,DOHMH,Rodent,Signs of Rodents,10454,BRONX,40.808012,-73.918943,Closed

## Handle Missing values

In [40]:
# Check for missing values
service_requests.isnull().sum()

# Drop rows missing key information
service_requests.dropna(subset=['Created Date', 'Complaint Type', 'Borough'], inplace=True)

In [42]:
service_requests.head()

,Created Date,Closed Date,Agency,Complaint Type,Descriptor,Incident Zip,Borough,Latitude,Longitude,Status
0,2016-09-30,2016-10-03 00:00:01,DOHMH,Food Poisoning,1 or 2,10029,MANHATTAN,40.789715,-73.946040,Closed
1,2016-09-30,2016-10-06 00:00:00,HPD,HEAT/HOT WATER,ENTIRE BUILDING,11203,BROOKLYN,40.652807,-73.931519,Closed
2,2016-09-30,2016-09-30 00:00:00,DOHMH,Rodent,Mouse Sighting,10028,MANHATTAN,40.778587,-73.955567,Closed
3,2016-09-30,2016-10-02 00:00:00,DOHMH,Rodent,Rat Sighting,10453,BRONX,40.850155,-73.911768,Closed
4,2016-09-30,2016-10-19 18:41:11,DOHMH,Rodent,Signs of Rodents,10454,BRONX,40.808012,-73.918943,Closed

## Create New Columns

In [45]:
#create new columns
service_requests['Response Time (Hours)'] = (service_requests['Closed Date'] - service_requests['Created Date']).dt.total_seconds() / 3600

In [47]:
service_requests['Is Closed'] = service_requests['Closed Date'].notnull()

In [49]:
service_requests.head()

,Created Date,Closed Date,Agency,Complaint Type,Descriptor,Incident Zip,Borough,Latitude,Longitude,Status,Response Time (Hours),Is Closed
0,2016-09-30,2016-10-03 00:00:01,DOHMH,Food Poisoning,1 or 2,10029,MANHATTAN,40.789715,-73.946040,Closed,72.000278,True
1,2016-09-30,2016-10-06 00:00:00,HPD,HEAT/HOT WATER,ENTIRE BUILDING,11203,BROOKLYN,40.652807,-73.931519,Closed,144.000000,True
2,2016-09-30,2016-09-30 00:00:00,DOHMH,Rodent,Mouse Sighting,10028,MANHATTAN,40.778587,-73.955567,Closed,0.000000,True
3,2016-09-30,2016-10-02 00:00:00,DOHMH,Rodent,Rat Sighting,10453,BRONX,40.850155,-73.911768,Closed,48.000000,True
4,2016-09-30,2016-10-19 18:41:11,DOHMH,Rodent,Signs of Rodents,10454,BRONX,40.808012,-73.918943,Closed,474.686389,True

## Standardize Categorical Values

In [52]:
service_requests['Complaint Type'] = service_requests['Complaint Type'].str.strip().str.title()
service_requests['Agency'] = service_requests['Agency'].str.strip().str.upper()
service_requests['Borough'] = service_requests['Borough'].str.strip().str.title()

## Identifying Top 5 Complaint Types

In [55]:
top_5_complaints = service_requests['Complaint Type'].value_counts().nlargest(5).index.tolist()
service_requests_top = service_requests[service_requests['Complaint Type'].isin(top_5_complaints)].copy()

## Focus on 2-3 boroughs

In [62]:
top_boroughs = service_requests['Borough'].value_counts().nlargest(3).index
service_requests = service_requests[service_requests['Borough'].isin(top_boroughs)].copy()

## Dropping the Duplicate Values

In [65]:
service_requests.drop_duplicates(inplace = True)

In [67]:
service_requests.duplicated().sum()

0

In [69]:
service_requests.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139007 entries, 0 to 185357
Data columns (total 12 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Created Date           139007 non-null  datetime64[ns]
 1   Closed Date            135850 non-null  datetime64[ns]
 2   Agency                 139007 non-null  object
 3   Complaint Type         139007 non-null  object
 4   Descriptor             132861 non-null  object
 5   Incident Zip           134306 non-null  object
 6   Borough                139007 non-null  object
 7   Latitude               128524 non-null  float64
 8   Longitude              128524 non-null  float64
 9   Status                 139007 non-null  object
 10  Response Time (Hours)  135850 non-null  float64
 11  Is Closed              139007 non-null  bool
dtypes: bool(1), datetime64[ns](2), float64(3), object(6)
memory usage: 12.9+ MB

## Save the Cleaned Data

In [83]:
service_requests.to_csv("cleaned_311_2016_subset.csv", index=False)